---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - limitranges
  - namespaces
  - resourcequotas
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - serving.serving.kalypso.io
  resources:
  - kalypsoapplications
  - kalypsoprojects
  - kalypsotritonservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - serving.serving.kalypso.io
  resources:
  - kalypsoapplications/finalizers
  - kalypsoprojects/finalizers
  - kalypsotritonservers/finalizers
  verbs:
  - update
- apiGroups:
  - serving.serving.kalypso.io
  resources:
  - kalypsoapplications/status
  - kalypsoprojects/status
  - kalypsotritonservers/scale
  - kalypsotritonservers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - serving.serving.kalypso.io
  resources:
  - kalypsotritionservers
  verbs:
  - get
  - list
  - watch
