---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - limitranges
  - namespaces
  - resourcequotas
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - serving.serving.kalypso.io
  resources:
  - kalypsoapplications
  - kalypsoprojects
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - serving.serving.kalypso.io
  resources:
  - kalypsoapplications/finalizers
  - kalypsoprojects/finalizers
  verbs:
  - update
- apiGroups:
  - serving.serving.kalypso.io
  resources:
  - kalypsoapplications/status
  - kalypsoprojects/status
  verbs:
  - get
  - patch
  - update
