apiVersion: serving.serving.kalypso.io/v1alpha1
kind: KalypsoTritonServer
metadata:
  labels:
    app.kubernetes.io/name: kalypsoserving
    app.kubernetes.io/managed-by: kustomize
  name: add-sub-server
  namespace: kalypso-system
spec:
  applicationRef: "recommendation-application"
  storageUri: "s3://minio.minio.svc:9000/models/"
  tritonConfig:
    image: "nvcr.io/nvidia/tritonserver"
    tag: "24.12-py3"
    parameters:
      - name: "log-verbose"
        value: "1"
    backendType: "python"
  replicas: 1
  resources:
    requests:
      cpu: "100m"
      memory: "256Mi"
    limits:
      cpu: "500m"
      memory: "1Gi"
  networking:
    httpPort: 8000
    grpcPort: 8001
    metricsPort: 8002
